.footer-container {
  background-color: #F5F5F5;
  color: #333;
  padding: 40px 20px;
  text-align: center;
}

/* Newsletter Section */
.newsletter {
  background-color: #5A4428;
  color: white;
  padding: 20px 30px;
  border-radius: 50px;
  width: 90%;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.newsletter h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  flex: 1;
  white-space: nowrap;
}

.newsletter-box {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background-color: transparent;
}

.newsletter-box input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffffa8;
  padding: 10px;
  flex-grow: 1;
  color: white;
  font-size: 14px;
  outline: none;
  min-width: 200px;
}

.newsletter-box input::placeholder {
  color: #cfc5b8;
  font-size: 12px;
}

.newsletter-box button {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer Content */
.footer-content {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 20px;
}

.footer-column {
  width: 30%;
}

.footer-column h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Footer Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.footer-bottom p {
  font-size: 14px;
}

.footer-bottom span {
  color: #5A4428;
  font-weight: bold;
}

.social-icons a {
  color: #333;
  margin-left: 10px;
  font-size: 18px;
}
